body {
  margin: 0px;
  background-image: url(fotos/fondo-vuelos.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}
header {
  color: #fff;
  text-align: center;
  padding: 1em 0;
  backdrop-filter: blur(12px);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 0px 20px #313131;
}

.logo {
  width: 60px;
  height: 60px;
  float: left;
  position: relative;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: -22px;
  display: flex;
}




nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav li {
  display: inline;
  margin: 0 2%;
  display: flex;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: flex;
}




.cardWrap {
  width: 27em;
  margin: 0em auto;
  color: #fff;
  font-family: sans-serif;
}

.card {
  background: linear-gradient(to bottom, rgb(198, 67, 67) 0%, rgb(167, 72, 72) 26%, rgb(173, 163, 163) 26%, rgb(182, 167, 167) 100%);
  height: 11.5em;
  float: left;
  position: relative;
  padding: 1em;
  margin-top:50px;
}

.cardLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 16em;
}

.cardRight {
  width: 6.5em;
  border-left: .18em dashed #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: .9em;
    height: .9em;
    background: #fff;
    border-radius: 50%;
    left: -.5em;
  }
  &:before {
    top: -0.4em;
  }
  &:after {
  bottom: -0.4em;
  }
}

h1 {
  font-size: 1.3em;
  margin-top: 0;
  span {
    font-weight: normal;
  }
}

.title, .name, .seat, .time {
  text-transform: uppercase;
  font-weight: normal;
  font-size: xx-small;
  h2 {
    font-size: .4em;
    color: #525252;
    margin: 0;
   }
  span {
    font-size: .2em;
    color: #a2aeae;
  }
}

.title {
  margin: 2em 0 0 0;
}

.name, .seat {
  margin: .7em 0 0 0;
}

.time {
  margin: .7em 0 0 1em;
}

.seat, .time {
  float: left;
}

.number {
  text-align: center;
  text-transform: uppercase;
  h4 {
    color: red;
    margin: 0.9em 0 0 0;
    font-size: 1.3em;
    margin-top: -1px; 
  }
  span {
    display: block;
    color: #a2aeae;
  }
}
.number h4 {
  margin-top: -10px;
}
.number p {
  color: rgb(106, 102, 102);
  font-weight: bold;
  margin-top: 35px;
}
.barcode {
  height: 2em;
  width: 0;
  margin: 1.2em 0 0 .8em;
  box-shadow: 1px 0 0 1px black,
  05px 0 0 1px black,
  10px 0 0 1px black,
  11px 0 0 1px black,
  15px 0 0 1px black,
  18px 0 0 1px black,
  22px 0 0 1px black,
  23px 0 0 1px black,
  26px 0 0 1px black,
  30px 0 0 1px black,
  35px 0 0 1px black,
  37px 0 0 1px black,
  41px 0 0 1px black,
  44px 0 0 1px black,
  47px 0 0 1px black,
  51px 0 0 1px black,
  56px 0 0 1px black,
  59px 0 0 1px black,
  64px 0 0 1px black,
  68px 0 0 1px black,
  72px 0 0 1px black,
  74px 0 0 1px black,
  77px 0 0 1px black,
  81px 0 0 1px black;
}
.botones{
  padding: 10px 15px;
  background-color: #4c93af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: -70%;
  margin-top: 1%;
}

.billetes {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}

 footer{
        background-color: #16384c;
        color: aliceblue;
  }

.pie-pagina {
  width: 100%;
  background-color: #16384c;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.pie-pagina .grupo-1 .box figure img {
  width: 300px;
  height: 150px;
}

.pie-pagina .grupo-1 .box h2 {
  columns: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2636;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: rgb(54, 133, 172);
}

.pie-pagina .grupo-2 {
  background-color: #0c2534;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width:800px) {
  .pie-pagina .grupo-1 {
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
  }
}